<form>
  <div class="itemSearchApp__container">
    <div class="itemSearchApp__grid">
      {{#each allItems}}
        <div id="{{this.id}}"
             class="itemSearchApp__internal-grid {{itemHasEnoughFreeSlots ../slotStructure ../requiredSlots ../flagsForSlot @index this.name}}">
          <img src={{this.img}} class="full-size">
          <h3>{{this.name}}</h3>
        </div>
        {{{createTooltipForLockedItem (itemHasEnoughFreeSlots ../slotStructure ../requiredSlots ../flagsForSlot @index) this.id }}}
      {{/each}}
    </div>
    <input class="itemSearchApp__search-bar" type="text">
  </div>
</form>