<form>
  <div class="paperDollApp__container">
    <div class="paperDollApp__tab-titles">
      <div class="paperDollApp__tab-title" data-title="inventory">
        Inventory
      </div>
      <div class="paperDollApp__tab-title paperDollApp__tab-active" data-title="main">
        Equipment
      </div>
      <div class="paperDollApp__tab-title" data-title="tattoos">
        Tattoos
      </div>
    </div>
    <div class="paperDollApp__tab-wrapper">
      <div class="paperDollApp__inventory-tab paperDollApp__closed-tab" data-tab="inventory">
        <div class="paperDollApp__inventory-content">
          {{{createInventorySlots inventorySlots}}}
        </div>
      </div>
      <div class="paperDollApp__main-tab" data-tab="main">
        <div class="paperDollApp__background-image">
          {{#each itemTypes.types}}
            <div id="{{this}}" class="{{leftOrRight @index}}">
              <h3 class="paperDollApp__category-title">
                {{prettifyTextToDisplay this}}
              </h3>
              <div class="paperDollApp__item-slots-grid">
                {{#times ../itemTypes.slots ../itemTypes.types this}}
                  <button type="submit" class="paperDollApp__add-box"></button>
                {{/times}}
                {{#createFillerElements ../itemTypes.slots ../itemTypes.types this}}
                  <div class="paperDollApp__filler-element"></div>
                {{/createFillerElements}}
              </div>
            </div>
          {{/each}}
        </div>
        <div class="paperDollApp__secondary-items">
          {{#each weaponsTypes.types}}
            <div id="{{this}}" class="paperDollApp__center-item">
              <h3 class="paperDollApp__category-title">{{prettifyTextToDisplay this}}</h3>
              <div class="paperDollApp__item-slots-grid">
                {{#times ../weaponsTypes.slots ../weaponsTypes.types this}}
                  <button type="submit" class="paperDollApp__add-box"></button>
                {{/times}}
                {{#createFillerElements ../weaponsTypes.slots ../weaponsTypes.types this}}
                  <div class="paperDollApp__filler-element"></div>
                {{/createFillerElements}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="paperDollApp__spell-book paperDollApp__closed-tab" data-tab="tattoos">
        tattoos
      </div>
    </div>

    <button class="hidden-submit" type="submit" hidden>hidden</button>
  </div>
</form>
