<form>
    <div class="personalSettingsContainer">
        {{#each items}}
            <div class="form-group">
                <label for="{{this.name}}"> {{prettifyTextToDisplay this.name}} </label>
                <div class="form-fields">
                    <input name="{{this.name}}" type="range" min="{{this.min}}" max="{{this.max}}" value="{{this.value}}">
                    <span class="range-value">{{this.value}}</span>
                </div>
            </div>
        {{/each}}
        <div class="form-group">
            <label>Background art: </label>
            <div class="form-fields">
                <button class="imageBrowser" type="button"> <i class="fas fa-file-import fa-fw"></i> </button>
                <input class="imagePath" type="text" name="img" placeholder="File Path" value="{{image}}">
            </div>
            <p class="notes">Select the background image. To go back to the default one, clear the text field and restart the paper doll view </p>
        </div>

    </div>
</form>