<form>
    <div class="personalSettingsContainer">
        {{#each items}}
            <div class="form-group">
                <label for="{{this.name}}"> {{prettifyTextToDisplay this.name}} </label>
                <div class="form-fields">
                    <input name="{{this.name}}" type="range" min="{{this.min}}" max="{{this.max}}" value="{{this.value}}">
                    <span class="range-value">{{this.value}}</span>
                </div>
            </div>
        {{/each}}
        <button type="submit" style="margin-top: 90px">Submit</button>
    </div>
</form>